{{!-- dashboard post buttons --}}
<div class="container vstack gap-2">
    {{#each posts as |post|}}
    <button type="button" class="btn btn-primary btn-lg col-12 ">
        <div class="d-flex justify-content-between">
            <span>{{post.title}}</span><span>{{post.date_created}}</span>
        </div>
    </button>
    {{/each}}
</div>

{{!-- new post button --}}
<div class="container d-flex justify-content-around">
    <button type="button" class="btn btn-primary btn-lg" id="newPostBtn">+New Post</button>
</div>

<script src="./js/dashboard.js"></script>