{{!-- edit post form --}}
<div class="container">
    <div class="col">
        <div class="card h-100 bg-dark">
            <div class="card-header bg-primary">
                <h4 class="card-title text-white">Edit Post</h4>
            </div>
            <div class="card-body bg-secondary">

                <form id="editForm" data-post_id="{{post.id}}">
                    <div class="mb-3">
                        <label for="editPostTitle" class="form-label text-white">Title</label>
                        <input type="text" class="form-control" id="editPostTitle" value="{{post.title}}">
                    </div>
                    <div class="mb-3">
                        <label for="editPostContent" class="form-label text-white">Content</label>
                        <textarea class="form-control" id="editPostContent" rows="3">{{post.content}}</textarea>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary mb-1" type="submit">Update Post</button>
                </form>
                <button class="w-100 btn btn-lg btn-primary" type="click" id="deletePostBtn">Delete Post</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/editPost.js"></script>