{{!-- login page template --}}
<div class="container form-signin  col-md-4 text-center">
    <form id='login-form'>
        <h1 class="h3 mb-3 fw-normal text-dark">Login</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="userLogin" placeholder="Username">
            <label for="userLogin">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="loginPassword" placeholder="Password">
            <label for="loginPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login!</button>
        <a href="/signup" class="text-dark text-decoration-none">Sign up</a>
    </form>
</div>

<script src="./js/login.js"></script>