{{!-- new post form --}}
<div class="container">
    <div class="col">
        <div class="card h-100 bg-dark">
            <div class="card-header bg-primary">
                <h4 class="card-title text-white">Create New Post</h4>
            </div>
            <div class="card-body bg-secondary">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-white">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="Hello World">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label text-white">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="./js/newPost.js"></script>