{{!-- sign up page template --}}
<div class="container form-signin col-md-4 text-center">

    <form id='signup-form'>
        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="userSignup" placeholder="username">
            <label for="userSignup">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="signupPassword" placeholder="Password">
            <label for="signupPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up!</button>
        <a href="/login" class="text-dark text-decoration-none">Login</a>
    </form>

</div>

<script src="./js/signup.js"></script>